<div class="row">
  <div class="small-12 columns">
    <h1>Recent Jobs</h1>
    <ul class="large-block-grid-3 jobs-list">
      <li>
      <div class="panel">
        <div class="right">
          <span class="job-state" title="<%=h "finished" %>"><i class="<%= job_state_css_class("finished") %>"></i></span>
        </div>
        <h5><a href="/job/1234">NetFlix EOM: participants</a></h5>
        <p>
        <small><a href="/run/1234">Netflix EOM: December 2014</a> (1/2);
          by <span>Cécile</span>, <span>13 minutes ago</span></small></p>
      </div>
      </li>

      <li>
      <div class="panel">
        <div class="right">
          <span class="job-state" title="<%=h "finished" %>"><i class="<%= job_state_css_class("finished") %>"></i></span>
        </div>
        <h5><a href="/job/1234">NetFlix EOM: words</a></h5>
        <p>
        <small><a href="/run/1234">Netflix EOM: December 2014</a> (2/2);
          by <span>Cécile</span>, <span>17 minutes ago</span></small></p>
      </div>
      </li>

      <li>
      <div class="panel">
        <div class="right">
          <span class="job-state" title="<%=h "finished" %>"><i class="<%= job_state_css_class("finished") %>"></i></span>
        </div>
        <h5><a href="/job/1234">Validate personas</a></h5>
        <p><small>by <span>François</span>, <span>21 hours ago</span></small></p>
      </div>
      </li>

      <li>
      <div class="panel">
        <div class="right">
          <span class="job-state" title="<%=h "finished" %>"><i class="<%= job_state_css_class("finished") %>"></i></span>
        </div>
        <h5><a href="/job/1234">SELECT count(*) FROM&hellip;</a></h5>
        <p><small>by <span>Pablo</span>, <span>1 day ago</span></small></p>
      </div>
      </li>
    </ul>
  </div>
</div>
