<div class="row">
  <div class="small-12 columns">
    <h1>Submit <%=h run.project_title %></h1>
  </div>
</div>

<form method="post" action="/project/1234/runs">
  <div class="row">
    <div class="large-4 columns">
      <h2>Run</h2>

      <label for="run_subtitle">Subtitle</label>
      <input type="text" id="run_subtitle" name="run[subtitle]" value="<%=h run.subtitle %>">

      <label for="run_submitter">Submitter</label>
      <input type="text" id="run_submitter" name="run[submitter]" value="<%=h run.submitter %>">

      <p>Will run <%=h run.number_of_queries %> queries.</p>

      <h2>Parameters</h2>

      <% run.parameters.each do |parameter| %>
        <label for="run_parameter_<%=h parameter %>"><%=h parameter %></label>
        <input type="<%= input_type_from_parameter_name(parameter) %>" id="run_parameter_<%=h parameter %>" name="run_parameter[<%=h parameter %>]">
      <% end %>

    </div>
    <div class="large-4 large-offset-4 columns">
      <h2>Instructions</h2>
      <%=markdown run.project_instructions %>
    </div>
    <div class="small-12 columns">
      <input type="submit" class="button primary" value="Submit">
      <a href="/projects" class="button secondary">Cancel</a>
    </div>
  </div>
</form>
